.Card {
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-card-border);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--color-card-shadow);
  transition: var(--transition-all);
}

.Card--hover:hover {
  box-shadow: var(--color-card-hover-shadow);
  transform: translateY(-2px);
}
