.Section {
  padding: var(--space-10) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section.Home-hero {
  padding: 0;
}

.Section--bg-primary {
  background-color: var(--color-bg-primary);
}

.Section--bg-secondary {
  background-color: var(--color-bg-secondary);
}

.Section-inner {
  max-width: var(--max-content-width);
  padding: 0 var(--space-6);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Section.Home-hero .Section-inner {
  padding: 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .Section {
    padding: var(--space-8) 0;
  }

  .Section-inner {
    padding: 0 var(--space-4);
  }
}
